<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://efftronicsrtls.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>efftronicsrtls.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>efftronicsrtls</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$efftronicsrtls</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="tata_rakshak" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:efftronicsserver.database.windows.net,1433;Initial Catalog=rtls_db;User ID=Efftronics@efftronicsserver.database.windows.net;Password=Effiot@123" Name="Data Source=tcp:efftronicsserver.database.windows.net,1433;Initial Catalog=rtls_db;User Id=Efftronics@efftronicsserver.database.windows.net;Password=Effiot@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RTLSWebService.Models.RTLS_DB.tata_rakshak, RTLSWebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tata_rakshak-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RTLS_DB.RTLSDB.csdl|res://*/Models.RTLS_DB.RTLSDB.ssdl|res://*/Models.RTLS_DB.RTLSDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:efftronicsserver.database.windows.net,1433;Initial Catalog=rtls_db;User Id=Efftronics@efftronicsserver.database.windows.net;Password=Effiot@123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>